<<<<<<< HEAD


body {
background-image: url(./Images/SunnyDayClip.gif) ;
background-size: cover;
min-height: 100vh;
background-position: center;
background-repeat: no-repeat;

}

.welcomeDisplay {
    background-color: rgb(49, 49, 247, .3);
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin: 85px;
    
}

.scheduleContainer {
    margin: 85px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    background-color: rgb(34, 141, 235, .7);

} 

.mainContainer {
    display: flex;
    justify-content: space-between;
    
}


.rightContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -450px;
    margin-left: 45%;
    /* Additional styles for padding, margin, etc., as needed */
}

.weatherBox, .youtubeContainer {
    /* Styles for weatherBox and youtubeContainer if needed */
    margin: 10px; /* Example */
    padding: 10px; /* Example */
}

.weatherBox {
    position: absolute;
    top: 10%;
    right: 39%;
    background-color: rgb(34, 141, 235, .7);
    border-radius: 20px;
    margin: 10px;
    max-width: 50%;
}

.youtubeContainer {
    position: absolute;
    top: 30%;
    right: 37%;
    background-color: rgb(34, 141, 235, .7);
    border-radius: 10px;
    padding: 20px;
    max-width: 50%;
    margin: 40px;

    
}

.gitHub {
    position: absolute;
    margin: 20px;
    top: 60%;
    right: 36%;
    background-color: rgb(34, 141, 235, .7);
    border-radius: 10px;
    padding: 20px;
    max-width: 50%;

   
}

.time-block {
    max-width: 300px;
    min-height: 100px;
<<<<<<< HEAD
>>>>>>> 441aa181de215a14a519d0c7ab783a104c184f50
=======
>>>>>>> 4a2cbd47b13451efb201b5e4804379947e8243d8
}