body {
  background-image: url(./Images/SunnyDayClip.gif) ;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;

}

.welcomeDisplay {
    background-color: rgb(49, 49, 247, .3);
    width: 30%;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;

}

.scheduleContainer {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
} */

.mainContainer {
    display: flex;
    justify-content: space-between;
    
}

.scheduleContainer {
    flex: 1;
    flex-direction: grid;
    background-color: rgb(186, 223, 255, .7);
    padding: 10px;
    border-radius: 10px;
    /* Additional styles for padding, margin, etc., as needed */
}

.rightContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -350px;
    margin-left: 50%;
    /* Additional styles for padding, margin, etc., as needed */
}

.weatherBox, .youtubeContainer {
    /* Styles for weatherBox and youtubeContainer if needed */
    margin: 10px; /* Example */
    padding: 10px; /* Example */
}

