
body {
    background-image: url(./Images/SunnyDayClip.gif) ;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    
    }
    
    .parentContainer {
        display: flex; /* Enables Flexbox layout */
        justify-content: center; /* Spaces out children */
        align-items: start; /* Aligns children at the start of the cross axis */
        margin-right: 400px;
    }
    
    
    .welcomeDisplay {
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 20px;
        margin: 20px; /* Consistent margin */
        background-color: rgba(34, 141, 235, 0.7);
        max-width: 40%; /* Width relative to the parent */
    }
    
    .scheduleContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
        grid-template-rows: repeat(4, auto); /* 4 rows, height adjusts to content */
        gap: 10px; /* Space between grid items */
        margin: 20px; /* Adjust as needed */
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(34, 141, 235, 0.7);
        max-width: 100%;
        border: 1px solid #ccc;
    
    }
    
    
    
    
    .mainContainer {
        flex: 1;
        max-width: 40%; /* Adjust as needed */
        padding: 20px;
        margin-right: 20px; /* Adds some space between the containers */
        margin-top: 20px;
    }
    
    .rightContainer {
        width: 30%;
        padding: 20px;
        margin-top:-240px;
    }
    
    .weatherBox {
        border-radius: 10px;
        border: 1px solid #ccc;
        max-width: 80%;
        margin: 10px 0; 
        padding: 10px;
        /* min-width: 100%; */
        background-color: rgb(34, 141, 235, .7);
    
    }
    
    .gitHub {
        border-radius: 10px;
        border: 1px solid #ccc;
        
        margin: 10px 0; 
        padding: 10px;
        /* min-width: 100%; */
        background-color: rgb(34, 141, 235, .7);
    
    }
    
    .videoInput {
        padding-bottom: 10px;
        
    }
    
    .youtubeContainer {
        width: 133%;
        background-color: rgb(34, 141, 235, .7);
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        width: 557px;
        line-height: 10px;
    
    
    }
    
    .time-block {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    
            
    }
    @media (max-width: 768px) {
        .mainContainer {
            flex-direction: column;
        }
    
        .welcomeDisplay, .scheduleContainer, .rightContainer {
            width: 100%;
        }
    
        .weatherBox, .youtubeContainer, .gitHub {
            max-width: 90%; 
        }
        .scheduleContainer {
            grid-template-columns: repeat(1, 1fr);
        }
        .parentContainer {
            flex-direction: column;
        }
    }